body {
    text-rendering: auto;
}

#evanyou-canvas {
    z-index: -1 !important;
}

.aplayer {
    max-width: 500px;
    margin: 20px auto;
}

.sidebar-toggle {
    z-index: 90;
}

#heading {
    text-align: center;
    font-size: 0.8em;
}
