<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">KANG WANG</a><small> Tenor </small></h1>
        <div class="photogrid">
        {% for image in site.static_files %}
          {% if image.path contains 'img/grid' %}
          <span class="{{ image.basename }}">
            <a href="#{{ image.basename }}">
            <img src="{{ site.baseurl }}{{ image.path }}" alt="image"/>
            </a>
          </span>
          {% endif %}
        {% endfor %}
        </div>
        {% for image in site.static_files %}
          {% if image.path contains 'img/full' %}
          <a href="#" class="lightbox" id="{{ image.basename }}">
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image"/> 
          </a>
          {% endif %}
        {% endfor %}
        <!-- End of Photo Grid -->
        <p style="text-align: right;"><a href="{{ "/gallery.html" | absolute_url }}#gallery">More Photos >></a></p>
        <ul class="social">
          <li>Facebook: <a href="https://www.facebook.com/kangwangtenor">@kangwangtenor</a></li>
          <li>Instagram: <a href="http://instagram.com/kangwang">@kangwang</a></li>
          <li>Youtube: <a href="https://www.youtube.com/@kangwangtenor">@kangwangtenor</a></li>
        </ul>
        <!-- <ul class="downloads">
          <li><a href="https://www.facebook.com/kangwangtenor"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-32.png" alt="Facebook"></a></li>
          <li><a href="http://instagram.com/kangwang"><img src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Instagram-32.png" alt="Instagram"></a></li>
          <li><a href="https://www.youtube.com/c/KangWangTenor"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-32.png" alt="Youtube"></a></li>
        </ul> -->

        <hr>
        
        <h4>CONTACT</h4>
        <p style="line-height: 1.5em;">
          <br/>
          Gianluca Macheda<br/>
          <em>Worldwide Representation</em><br/>
          <a href="mailto:gmacheda@gmartandmusic.com">gmacheda@gmartandmusic.com</a><br/>
        </p>
        <p style="line-height: 1.5em;">
          Martina Biagini<br/>
          <em>Logistics</em><br/> 
          <a href="mailto:mbiagini@gmartandmusic.com">mbiagini@gmartandmusic.com</a><br/>
          +39 3479762848 <br/>
          <!-- <a href="https://gmartandmusic.com/vocalists/kang-wang/" target="_blank"><br/><img src="./assets/img/gmlogo.png" alt="GM Art and Music" style="width: 15%;"/></a> -->
        </p>
        
      
          
        <!-- {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}  -->

      </header>
      <section>

      {{ content }}

     

      
      </section>
      <footer>
        <p><small>Copyright © 2025</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

if (dots.style.display === "none") {
dots.style.display = "inline";
btnText.innerHTML = "More reviews >>";
moreText.style.display = "none";
} else {
dots.style.display = "none";
btnText.innerHTML = "<< Less reviews";
moreText.style.display = "inline";
}
}
</script>
  </body>
</html>
